.full-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e1edff;
  height: 100vh;
  .title {
    font-size: 48px;
  }
}

@media only screen and (max-width: 768px) {
  .full-page {
    height: 100%;
    .title {
      font-size: 24px;
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .full-page {
    height: 100%;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .full-page {
    height: 100%;
  }
}
